@charset "utf-8";
main, header, aside, article, footer{
    border: 1px solid gray;
    padding: 10px;
}

main {
    display: grid;
    grid-template-areas:
        "h h h"
        "b a j"
        "f f f";
}
aside bal {
    grid-area: b;
}
aside jobb {
    grid-area: j;
}
article{
    grid-area: a;
}
header{
    grid-area: h;
}
footer{
    grid-area: f;
}

header h1 {
    font-size: 20px;
    text-align: center;
}
