@charset "utf-8";

main {
    display: grid;
    grid-template-areas:
        "h h h"
        "b a j"
        "f f f";
}
#bal {
    grid-area: b;
}
#jobb{
    grid-area: j;
}
article{
    grid-area: a;
}
header{
    grid-area: h;
}
footer{
    grid-area: f;
}

header h1 {
    font-size: 20px;
    text-align: center;
}

